{% extends "base.html" %}

{% block container %}

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A beatae illo incidunt nemo neque saepe voluptatem! Accusantium, aspernatur beatae consequatur doloribus eius eligendi fugiat minus, natus nesciunt obcaecati quis, unde.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque autem eos incidunt molestias obcaecati possimus quas ratione reiciendis sapiente tempora. Ab adipisci eligendi eos fugit ipsam necessitatibus, nihil qui repudiandae.lorem,
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium adipisci aspernatur debitis delectus deserunt eligendi, eveniet excepturi fugit natus obcaecati odio, perferendis perspiciatis repellat sunt tempora tempore tenetur veritatis.
{% endblock %}